@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family:  'Roboto', 'Open Sans', 'Noto Sans Display', sans-serif;;
}
.text-primary{
    color: var( --ion-color-primary);
}
.center-y{
    display: flex;
    flex-direction: column;
    margin-top: 50%;
}
.text-y{
    padding-left: 5px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.text-heavy{
    font-weight: 700;
}
.btn-uppercase{
    text-transform: uppercase;
    letter-spacing: 0.085em;
    font-size: 1.1rem;
    height: 7vh;
}
.space-top{
    margin-top: 1vh;
}